<a href="https://colab.research.google.com/github/cowsilver57/certification_study/blob/main/2_%EC%A0%84%EC%B2%98%EB%A6%AC_56~63%EB%B2%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv')

# 56번
데이터를 로드하고 데이터 행과 열의 갯수를 출력하라

In [ ]:
print(data.head())
print(data.info())
print(data.shape)

   Unnamed: 0  CLIENTNUM     Attrition_Flag  Customer_Age Gender  \
0           0  768805383  Existing Customer            45      M
1           1  818770008  Existing Customer            49      F
2           2  713982108  Existing Customer            51      M
3           3  769911858  Existing Customer            40      F
4           4  709106358  Existing Customer            40      M

   Dependent_count Education_Level Marital_Status Income_Category  \
0                3     High School        Married     $60K - $80K
1                5        Graduate         Single  Less than $40K
2                3        Graduate        Married    $80K - $120K
3                4     High School        Unknown  Less than $40K
4                3      Uneducated        Married     $60K - $80K

  Card_Category  Months_on_book  Total_Relationship_Count  \
0          Blue              39                         5
1          Blue              44                         6
2          Blue              36                         4
3          Blue              34                         3
4          Blue              21                         5

   Months_Inactive_12_mon  Contacts_Count_12_mon  Credit_Limit  \
0                       1                      3       12691.0
1                       1                      2        8256.0
2                       1                      0        3418.0
3                       4                      1        3313.0
4                       1                      0        4716.0

   Total_Revolving_Bal  Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt
0                  777          11914.0                 1.335             1144
1                  864           7392.0                 1.541             1291
2                    0           3418.0                 2.594             1887
3                 2517            796.0                 1.405             1171
4                    0           4716.0                 2.175              816
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                10127 non-null  int64
 1   CLIENTNUM                 10127 non-null  int64
 2   Attrition_Flag            10127 non-null  object
 3   Customer_Age              10127 non-null  int64
 4   Gender                    10127 non-null  object
 5   Dependent_count           10127 non-null  int64
 6   Education_Level           10127 non-null  object
 7   Marital_Status            10127 non-null  object
 8   Income_Category           10127 non-null  object
 9   Card_Category             10127 non-null  object
 10  Months_on_book            10127 non-null  int64
 11  Total_Relationship_Count  10127 non-null  int64
 12  Months_Inactive_12_mon    10127 non-null  int64
 13  Contacts_Count_12_mon     10127 non-null  int64
 14  Credit_Limit              10127 non-null  float64
 15  Total_Revolving_Bal       10127 non-null  int64
 16  Avg_Open_To_Buy           10127 non-null  float64
 17  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 18  Total_Trans_Amt           10127 non-null  int64
dtypes: float64(3), int64(10), object(6)
memory usage: 1.5+ MB
None
(10127, 19)

# 57번
Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K +’ : e

In [ ]:
data['newIncome'] = data['Income_Category'].map({'Unknown':'N',
                                                 'Less than $40K':'a',
                                                 '$40K - $60K':'b',
                                                 '$60K - $80K':'c',
                                                 '$80K - $120K':'d',
                                                 '$120K +': 'e'})
data['newIncome'].head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

#58번
Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K +’ : e

In [ ]:
#매핑 함수 정의
def map_income_category(category):
    if category == 'Unknown':
        return 'N'
    elif category == 'Less than $40K':
        return 'a'
    elif category == '$40K - $60K':
        return 'b'
    elif category == '$60K - $80K':
        return 'c'
    elif category == '$80K - $120K':
        return 'd'
    elif category == '$120K +':
        return 'e'
    else:
        return category

data['newIncome'] = data['Income_Category'].apply(map_income_category)
data['newIncome'].head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

# 59번


*   Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라.
* ( 0 ~ 9 : 10 , 10 ~ 19 : 10 , 20 ~ 29 : 20)
*   각 구간의 빈도수를 출력하라

In [ ]:
def age_state(age):
    if age < 10 :
        return 0
    elif age < 20:
        return 10
    elif age < 30:
        return 20
    elif age < 40:
        return 30
    elif age < 50:
        return 40
    elif age < 60:
        return 50
    elif age < 70:
        return 60
    elif age < 80:
        return 70
    else:
        return 'Unknown'

data['AgeState'] = data['Customer_Age'].apply(age_state)
data['AgeState'].head()

0    40
1    40
2    50
3    40
4    40
Name: AgeState, dtype: int64

In [ ]:
data['AgeState'].value_counts().sort_index()

20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: AgeState, dtype: int64

# 60번
Education_Level의 값중 Graduate단어가 포함되는 값은 1,그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라

In [ ]:
def education(edu_lv):
    if 'Graduate' in edu_lv:
        return 1
    else:
        return 0

data['newEduLevel'] = data['Education_Level'].apply(education)
ans = data['newEduLevel'].value_counts().sort_index()
ans

0    6483
1    3644
Name: newEduLevel, dtype: int64

# 61번
Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라

In [ ]:
def credit(credit_lm):
    if credit_lm >= 4500:
        return 1
    else:
        return 0

data['newLimit'] = data['Credit_Limit'].apply(credit)
ans = data['newLimit'].value_counts()
ans

1    5096
0    5031
Name: newLimit, dtype: int64

In [ ]:
data['Marital_Status'].unique()

array(['Married', 'Single', 'Unknown', 'Divorced'], dtype=object)

# 62번

*   Marital_Status 컬럼값이 Married 이고, Card_Category 컬럼의 값이 Platinum인 경우 1

*    그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라.

*    newState의 각 값들의 빈도수를 출력하라

In [ ]:
def marital_card(x):
    if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum':
        return 1
    else:
        return 0

data['newState'] = data.apply(marital_card, axis=1)
ans = data['newState'].value_counts()
ans

0    10120
1        7
Name: newState, dtype: int64

# 63번


*   Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라.
*   각 value의 빈도를 출력하라

In [ ]:
def gender_check(gender):
    if gender == 'M':
        return 'male'
    else:
        return 'female'

data['Gender'] = data['Gender'].apply(gender_check)
ans = data['Gender'].value_counts()
ans

female    5358
male      4769
Name: Gender, dtype: int64